<!DOCTYPE html>
<html lang="es" dir="ltr">
 <head>
  <meta charset="utf8">
  <title>Iot 1</title>
 </head>
 <body>
  <h1>Iot 1</h1>
  <div id="display"></div>
  <div id="status">Desconectado</div> <br>
  <button onClick="command(0)" type="button">Animacion 1</button> <br><br>
  <button onClick="command(1)" type="button">Animacion 2</button> <br><br>
  <button onClick="command(2)" type="button">Animacion 2</button> <br><br>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js"></script>
 
  <script>
   var clientId = 'client_id_' + Math.floor((Math.random() * 1000000) + 1);
   client = new Paho.MQTT.Client("driver.cloudmqtt.com", 38730, clientId);   
  
   client.onConnectionLost = onConnectionLost;
   client.onMessageArrived = onMessageArrived;
   
   var options = {
    useSSL: true,
	userName: "emovybyi",
	password: "nJHumJAie54g",
	onSuccess: onConnect,
	onFailure: doFail
   }
  
   client.connect(options);
   
   function onConnect()
   {
    console.log("Conexión exitosa!!!");
	$("#status").html("Conexión Establecida");
	client.subscribe("salidaMario");
   }
   
   function onMessageArrived()
   {
    console.log("Un mensaje ha llegado: " + message.payloadString);
	$("#display").html(message.payloadString);
   }
   
   function doFail(e)
   {
    console.log(e);
   }
   
   function onConnectionLost(responseObject)
   {
    if(responseObject.errorCode == 0)
	 console.log("onConnectionLost: " + responseObject.errorMessage);
   }
   
   function command(value)
   {
    console.log(value);
	message = new Paho.MQTT.Message(value + "");
	message.destinationName = "entradaMario";
	client.send(message);
   }
  </script>
 </body>
</html>

